.loading {
  background: linear-gradient(90deg, #3dfc8f 0%, #29d672 50%, #3dfc8f 100%);
  background-size: 200% 100%;
  animation: sweep 1.2s linear infinite;
  cursor: wait;
}

@keyframes sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
